[defaults]
host_key_checking  = false
fact_caching = jsonfile
fact_caching_connection = /tmp/facts_cache
library = library
gather_facts = true
interpreter_python = auto
private_key_file = /home/rena/.ssh/id_ed25519
log_path = /var/log/ansible.log

[connection]
pipelining = True

[ssh_connection]
pipelining = True
